<div class="food_content food_hide section section6">
    <div class="container">
        <div class="food_content_nav">
            <ul>
                <li><a class="foot_title" href="">深蓝互联</a> </li>
                <li><a href="">公司简介</a> </li>
            </ul>
            <ul>
                <li><a class="foot_title" href="">代理加盟</a> </li>
                <li><a href="">成功案例</a> </li>
                <li><a href="">申请代理</a> </li>
                <li><a href="">申请进度</a> </li>
            </ul>
            <ul>
                <li><a class="foot_title" href="">联系我们</a> </li>
                <li><a href="">联系方式</a> </li>
            </ul>
        </div>
        <div class="foot_content_meass">
            <div><img src="home_url/images/foot_icon01.png" /></div>
            <div> <img src="home_url/images/foot_icon02.png" /></div>
        </div>
    </div>
</div>