<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{:getSetting('system.title')} </title>

    <link href="home_url/css/bootstrap.min.css" rel="stylesheet">
    <link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
    <link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="home_url/css/style.min.css" rel="stylesheet">
    <!--编辑器 1-->
    <script type="text/javascript" charset="utf-8" src="home_url/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="home_url/Ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="home_url/Ueditor/lang/zh-cn/zh-cn.js"></script>
    <!--编辑器 2-->

    <style>
        .contact_mobile_div {
            position: relative;
        }

        .contact_mobile_div a {
            position: relative;
            top: -34px;
            left: 33%;
        }
    </style>
</head>
{include file="Base:base" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{empty name='cache'}添加{else/}修改{/empty}Banner信息</h5>
                </div>
                <div class="ibox-content">
                    <form enctype="multipart/form-data" method="post" id="add_step" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>新闻分类：</label>

                            <div class="col-sm-9">
                                <select name="cate_id" style="width:190px;height:35px" class="manager_cate_id">
                                    <option value="">-请选择分类-</option>
                                    {foreach name="cate_list" item="vo"}
                                    <option value="{$vo['id']}" {eq name="vo.id" value="$cache.cate_id" }selected{
                                    /eq}>{$vo['class_name']}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>标题：</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control title" name="title" style="width:60%"
                                       value="{$cache.title}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--                        <div class="form-group">-->
                        <!--                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>标题英：</label>-->

                        <!--                            <div class="col-sm-9">-->
                        <!--                                <input type="text" class="form-control en_title" name="en_title" style="width:60%" value="{$cache.en_title}">-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="hr-line-dashed"></div>-->

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>发布日期：</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control add_time" name="add_time" style="width:35%"
                                       id="start" value="{$cache.add_time}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>概述：</label>
                            <div class="col-sm-9">
                                <textarea class="form-control describe" name="describe" maxlength="500" cols="100"
                                          rows="4"
                                          style="width:60%;text-align: left;resize:none">{$cache.describe}</textarea>
                            </div>
                        </div>
                        <!--                        <div class="hr-line-dashed"></div>-->
                        <!--                        <div class="form-group">-->
                        <!--                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>概述英：</label>-->
                        <!--                            <div class="col-sm-9">-->
                        <!--                                <textarea class="form-control en_describe" name="en_describe" maxlength="500" cols="100" rows="4" style="width:60%;text-align: left;resize:none">{$cache.en_describe}</textarea>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="hr-line-dashed"></div>-->

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style='color:red;'>*</b>上传图片：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-9">
                                    <div class="info_heads">
                                        <input type="file"
                                               class="file xuanze"
                                               name="upload_pic"
                                               style="position: absolute;z-index: 999;opacity: 0;width: 80px;height: 80px;cursor: pointer;"
                                               accept="image/jpg,image/jpeg,image/png"
                                               data-name="pic"
                                               data-type="single">
                                        <img class='goods_logo' src="home_url/images/addimg.png"/>
                                        <div class="xuanze_showimge mgr10" data-nums='15' style="position:relative;">
                                            {notempty name='cache.pic'}
                                            <div style='float:left;position:relative;'>
                                                <img src="{$cache['pic']}" class="mgr10 mgt10 ">
                                                <input type="hidden" name="pic" class="pic" value="{$cache['pic']}">
                                            </div>
                                            {/notempty}
                                        </div>
                                    </div>
                                    <div class="xuanze_progress fl mgr15" style="display:none">
                                        <img src="home_url/images/loadings.gif" style="width: 30px;height: 30px;"/>
                                        <span class="xuanze_percent">80%</span>
                                    </div>
                                    <div style="clear: both;"></div>
                                    <span class="help-block m-b-none" style="color:red">
                                        宽：374 高：194
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <!--                        <div class="form-group">-->
                        <!--                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>详情：</label>-->
                        <!--                            <div class="col-sm-9">-->
                        <!--                                <textarea  id="content" name="content" maxlength="500" cols="100" rows="8" style="text-align: left;resize:none">{$cache.content}</textarea>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="hr-line-dashed"></div>-->
                        <!--                        <div class="form-group">-->
                        <!--                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>详情英：</label>-->
                        <!--                            <div class="col-sm-9">-->
                        <!--                                <textarea  id="en_content" name="en_content" maxlength="500" cols="100" rows="8" style="text-align: left;resize:none">{$cache.en_content}</textarea>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="hr-line-dashed"></div>-->

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="id" value="{$cache.id}">
                                <input type="hidden" name="sort" value="{$cache.sort|default=0}">
                                <a href="javascript:history.back();" class="btn btn-white" type="submit">返回</a>
                                <a class="btn btn-primary save" href="javascript:void(0)">保存</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="home_url/js/jquery.min.js"></script>
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>
<script src="home_url/js/plugins/layer/laydate/laydate.js"></script>
<script>
    var start = {
        elem: "#start",
        format: "YYYY-MM-DD",
        max: laydate.now(),
        min: "2000-01-01",
        istime: true,
        istoday: false,
        choose: function (datas) {
            end.start = datas
        }
    };
    laydate(start);

    var url = '';
    $('.save').click(function () {
        var post = $('#add_step').serializeArray();
        $.post("{:url('News/newsHandle')}", post, function (data) {
            if (data.status) {
                dialog.showTips(data.msg, "", "{:url('News/newsList')}");
            } else {
                alert(data.msg);
            }
        }, "json");
        return false;
    });
</script>

<!--拖拽图片排序-->
<!--
<div class="xuanze_showimge fl  multi-img-details input-group multi-img-details ui-sortable dad-active dad-container"  id="J_imageView_1">
    <foreach name="cache.package_banner" item="v">
        <div class="goods_imgs">
            <img src="" height="80"  class="mgr10 mgt10 ">
            <input type="hidden" name="package_banner" class="package_banner"  value="">
            <em class="close" title="删除这张图片" onclick="delImgs(this)">×</em>
        </div>
</foreach>
</div>
<link rel="stylesheet" href="home_url/upload_img/uploadImg.css"/>
<link rel="stylesheet" href="home_url/upload_img/jquery.dad.css"/>
<script src="home_url/upload_img/jquery.dad.min.js"></script>
<script language="javascript">
    $('.J_imageView_1').dad({
        draggable: 'img'//拖拽区域
    });
</script>-->
<!--拖拽图片排序-->

<script type="text/javascript" src="home_url/js/jquery.js"></script>
<script type="text/javascript" src="home_url/js/jquery-form.js"></script>
<script type="text/javascript">


    $(function () {

        /*图片上传*/
        $(".xuanze").wrap("<form class='myupload' action='{:url('Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
        $(".xuanze").change(function () { //选择文件

            var obj = $(this);
            var type = obj.attr('data-type'); // single 单图 multiple 多图
            var xuanze_progress = obj.parents('.form-group').find('.xuanze_progress');
            var xuanze_percent = obj.parents('.form-group').find('.xuanze_percent');
            var xuanze_showimge = obj.parents('.form-group').find('.xuanze_showimge');
            var name = obj.attr('data-name');
            obj.parents('.myupload').ajaxSubmit({
                dataType: 'json', //数据格式为json
                beforeSend: function () { //开始上传
                    xuanze_progress.show(); //显示进度条
                    var percentVal = '0%';
                    xuanze_percent.html(percentVal);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%'; //获得进度
                    xuanze_percent.html(percentVal); //显示上传进度百分比
                },
                success: function (data) { //成功
                    if (type == 'multiple') { //多图
                        var img = '<div class="goods_imgs">' +
                            '<img src="' + data.info + '" height="80"  class="mgr10 mgt10 ">' +
                            '<input type="hidden" name="' + name + '" class="' + name + '"  value="' + data.info + '">' +
                            '<em class="close" title="删除这张图片" onclick="delImgs(this)">×</em>' +
                            '</div>';

                        xuanze_showimge.append(img);

                        $('.J_imageView_1').dad({
                            draggable: 'img'//拖拽区域
                        });
                    } else { // 单图
                        var img = '<img src="' + data.info + '" height="80">' +
                            '<input type="hidden" name="' + name + '" class="' + name + '" value="' + data.info + '">';
                        xuanze_showimge.html(img);
                    }

                    xuanze_progress.hide();
                },
                error: function (xhr) { //上传失败
                    console.log(xhr.status)
                }
            });
        });

    });

    function delImgs(obj) {
        dialog.showTips("删除这张图片？", "firm", function () {
            $(obj).next("input").remove();
            $(obj).remove();
        })
    }
</script>
</body>

</html>
