<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{:getSetting('system.title')} </title>

	<link href="home_url/css/bootstrap.min.css" rel="stylesheet">
	<link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
	<link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="home_url/css/style.min.css" rel="stylesheet">
	<style>
		.contact_mobile_div {
			position: relative;
		}
		.contact_mobile_div a {
			position: relative;top: -34px;left: 33%;
		}
	</style>
</head>
{include file="Base:base" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>{empty name='cache'}添加{else/}修改{/empty}内容</h5>
				</div>
				<div class="ibox-content">
					<form enctype="multipart/form-data" method="post" id="add_step" class="form-horizontal">

						<div class="form-group">
							<label class="col-sm-2 control-label"><b style="color:red;">*</b>公司名称：</label>

							<div class="col-sm-9">
								<input type="text" class="form-control title" name="name" style="width:60%" value="{$cache.name}">
							</div>
						</div>
						<div class="hr-line-dashed"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label"><b style="color:red;">*</b>联系电话：</label>

							<div class="col-sm-9">
								<input type="text" class="form-control en_title" name="tel" style="width:60%" value="{$cache.tel}">
							</div>
						</div>
						<div class="hr-line-dashed"></div>




						<div class="form-group">
							<label class="col-sm-2 control-label"><b style="color:red;">*</b>公司地址：</label>

							<div class="col-sm-9">
								<input type="text" class="form-control title" name="address" style="width:60%" value="{$cache.address}">
							</div>
						</div>
						<div class="hr-line-dashed"></div>


						<div class="form-group">
							<label class="col-sm-2 control-label"><b style='color:red;'>*</b>公众号二维码：</label>
							<div class="col-sm-9">
								<div class="col-sm-9">
									<div class="info_heads">
										<input type="file"
											   class="file xuanze"
											   name="upload_pic"
											   style="position: absolute;z-index: 999;opacity: 0;width: 80px;height: 80px;cursor: pointer;"
											   accept="image/jpg,image/jpeg,image/png"
											   data-name="pic"
											   data-type="single" >
										<img  class='goods_logo' src="home_url/images/addimg.png" />
										<div class="xuanze_showimge mgr10" data-nums='15' style="position:relative;" >
											{notempty name='cache.pic'}
											<div style='float:left;position:relative;'>
												<img src="{$cache['pic']}" class="mgr10 mgt10 ">
												<input type="hidden" name="pic" class="pic" value="{$cache['pic']}">
											</div>
											{/notempty}
										</div>
									</div>
									<div class="xuanze_progress fl mgr15" style="display:none">
										<img src="home_url/images/loadings.gif" style="width: 30px;height: 30px;" />
										<span class="xuanze_percent">80%</span>
									</div>
									<div style="clear: both;"></div>
								</div>
							</div>
						</div>
						<div class="hr-line-dashed"></div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<input type="hidden" name="id"  value="{$cache.id}">
								<a class="btn btn-primary save" href="javascript:void(0)" >保存</a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="home_url/js/jquery.min.js"></script>
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>

<script>
	var class_id = $("input[name='class_id']").val();
	$('.save').click(function(){
		var post = $('#add_step').serializeArray();
		$.post("{:url('Contact/contactHandle')}",post, function(data){
			if(data.status){
				dialog.showTips(data.msg,"",1);
			}else{
				alert(data.msg);
			}
		}, "json");
		return false;
	});
</script>



<script type="text/javascript" src="home_url/js/jquery.js"></script>
<script type="text/javascript" src="home_url/js/jquery-form.js"></script>
<script type="text/javascript">


	$(function () {

		/*图片上传*/
		$(".xuanze").wrap("<form class='myupload' action='{:url('Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
		$(".xuanze").change(function(){ //选择文件

			var obj = $(this);
			var type = obj.attr('data-type'); // single 单图 multiple 多图
			var xuanze_progress = obj.parents('.form-group').find('.xuanze_progress');
			var xuanze_percent = obj.parents('.form-group').find('.xuanze_percent');
			var xuanze_showimge = obj.parents('.form-group').find('.xuanze_showimge');
			var name = obj.attr('data-name');
			obj.parents('.myupload').ajaxSubmit({
				dataType:  'json', //数据格式为json
				beforeSend: function() { //开始上传
					xuanze_progress.show(); //显示进度条
					var percentVal = '0%';
					xuanze_percent.html(percentVal);
				},
				uploadProgress: function(event, position, total, percentComplete) {
					var percentVal = percentComplete + '%'; //获得进度
					xuanze_percent.html(percentVal); //显示上传进度百分比
				},
				success: function(data) { //成功
					if (type == 'multiple') { //多图
						var img = '<div class="goods_imgs">' +
								'<img src="'+ data.info +'" height="80"  class="mgr10 mgt10 ">' +
								'<input type="hidden" name="'+ name +'" class="'+ name +'"  value="'+ data.info +'">' +
								'<em class="close" title="删除这张图片" onclick="delImgs(this)">×</em>' +
								'</div>';

						xuanze_showimge.append(img);

						$('.J_imageView_1').dad({
							draggable: 'img'//拖拽区域
						});
					} else { // 单图
						var img = '<img src="'+ data.info +'" height="80">' +
								'<input type="hidden" name="'+ name +'" class="'+name+'" value="'+ data.info +'">';
						xuanze_showimge.html(img);
					}

					xuanze_progress.hide();
				},
				error:function(xhr){ //上传失败
					console.log(xhr.status)
				}
			});
		});

	});

	function delImgs(obj){
		dialog.showTips("删除这张图片？","firm",function (){
			$(obj).next("input").remove();
			$(obj).remove();
		})
	}
</script>
</body>

</html>
