<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
            </a>
            <!-- <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                </div>
            </form>
            <a href="{:url('admin/search')}" tppabs="search_results.html" type="button" class="btn btn-outline btn-primary ind_search J_menuItem">搜索</a> -->
            
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <!-- <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li class="m-t-xs">
                        <div class="dropdown-messages-box">
                          
                            <a href="chat_view.html" tppabs="chat_view.html" class="index_mes J_menuItem">
                              <span class="J_menuItem_tit">消息回复</span>
                              
                              <span class="pull-left">
                                <img alt="image" class="img-circle" src="__IMAGES__/a7.jpg" tppabs="static/a7.jpg">
                              </span>
                              <div class="media-body">
                                  <strong>小四</strong>亲，在吗？请问单人凯威纯色团购活动需要预约吗？ <br>
                                  <small class="text-muted">1天前 2017.7.28</small>
                              </div>
                            </a>
                            
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                          
                            <a href="chat_view.html" tppabs="chat_view.html" class="index_mes J_menuItem">
                              <span class="J_menuItem_tit">消息回复</span>
                              
                              <span class="pull-left">
                                  <img alt="image" class="img-circle" src="__IMAGES__/a4.jpg" tppabs="static/a4.jpg">
                              </span>
                              <div class="media-body ">
                                  
                                  <strong>国民岳飞</strong>老板，你家那个口红没货啦！快点给我补点货呗！ <br>
                                  <small class="text-muted">昨天</small>
                              </div>
                            </a>
                            
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="javascript:void(0)">
                                <strong>忽略全部</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a class="J_menuItem" href="mailbox.html" tppabs="mailbox.html">
                          <span class="J_menuItem_tit">消息中心</span>
                              
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                                <span class="pull-right text-muted small">4分钟前</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="J_menuItem" href="profile.html" tppabs="profile.html">
                          <span class="J_menuItem_tit">最新评论</span>
                              
                            <div>
                                <i class="fa fa-qq fa-fw"></i> 3条新评论 <span class="pull-right text-muted small">12分钟钱</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="javascript:void(0)">
                              <span class="J_menuItem_tit">消息</span>
                              
                                <strong>忽略全部 </strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li> -->
            <!--<li class="dropdown hidden-xs">
                <a class="right-sidebar-toggle" aria-expanded="false">
                    <i class="fa fa-tasks"></i> 主题
                </a>
            </li>-->
        </ul>
    </nav>
</div>