
{extend name="Base/base" /}
{block name="main"}
<div id="news_main" class="news_main">
    <div class="news_header">
        <div class="news_header_advice" id="index_advice_title">
            <h2>方寸之间·自有天地</h2>
            <p>Between cubic inches, there is heaven and earth</p>
        </div>

    </div>
    <div class="importantinfo">
        <div class="container">
            <div id="showDiv">
                <div class="importantinfo_title">
                    <h3>重点资讯</h3>
                    <p>Key information</p>
                </div>

                <div class="info_content_one">
                    <div class="infoimg" >
                        <img src="home_url/images/info1.png" alt="">
                    </div>
                    <div class="msgcontent">
                        <div class="title_icon"></div>
                        <h3 class="msgcontent_title">牵手愿望季 深蓝互联展示品牌温度与力度</h3>
                        <p class="msgcontent_msg">长久以来，科技公司的外宣用色多以冰冷的蓝色为主调，通过色彩渲染技术的炫酷，表达人类对于未来和发展的渴望，
                            从而在人们心智中占据对未来解释权的领导地位。不过总有一些品牌别出心裁，想要表现得不一样。岁末年终之际，北风萧凛之时，在深圳、在上海、在北京…</p>
                        <img class="jiantou_icon" src="home_url/images/jiantou.png" height="30" width="30" alt="">
                    </div>
                </div>
            </div>

            <div class="info_content_two clearfix" id="showDiv3">
                <div class="msgcontent">
                    <div class="title_icon"></div>
                    <h3 class="msgcontent_title">“数智创享未来”</h3>
                    <p class="msgcontent_msg">1月10日-11日，2019数智未来峰会在上海佘山国家旅游度假区盛大召开，500多名来自国内外各行业优秀企业的技术
                        领袖荟聚一堂，共话时代变革下的企业技术发展方向。共享充电行业领军企业怪兽充电应邀进驻现场提供服务。期间，大会举行了第二届CDTC年度技术领袖颁奖...</p>
                    <img class="jiantou_icon" src="home_url/images/jiantou.png" height="30" width="30" alt="">
                </div>
                <div class="infoimg" >
                    <img src="home_url/images/info2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="companynews">
        <div class="container">
            <div class="importantinfo_title" id="showDiv1">
                <h3>公司新闻</h3>
                <p>Company News</p>
            </div>

            <div class="importantinfo_lists">
                <div class="news_item" id="showDiv2">
                    <div class="newsimg"><img src="home_url/images/newsimg1.png" alt=""></div>
                    <div class="newsmsg_content">
                        <h3 class="msgcontent_title newstitle">共享充电新时代</h3>
                        <p class="msgcontent_msg">
                            2019年成立于杭州市,以桌面场景为载体,致力于共享移动终端设备及桌面广告传播打造方便快捷的用户体验为投资者带来商业价值。创业和投资市场的完整逻辑，
                            是从泡沫到寒冬、再从寒冬到泡沫的反复轮回。在这场轮回中，泡沫是试验，寒冬则作为过滤手段。</p>
                        <p class="news_time">2019-09-09</p>
                    </div>
                </div>
                <div class="news_item" id="showDiv5">
                    <div class="newsimg"><img class="newsimg" src="home_url/images/newsimg2.png" alt=""></div>
                    <div class="newsmsg_content">
                        <h3 class="msgcontent_title newstitle">用大数据来看共享充电宝</h3>
                        <p class="msgcontent_msg">
                            “共享经济”一词真正被大众所熟知，大概是在共享单车出现以后。但是随着2018年，共享单车整个行业的集体遇寒，负面新闻不断，消费者押金无法退还，
                            价格涨价，用户体验越来越差，造成投诉不断。人们对于共享经济已经到了谈“共享”色变的地步。 </p>
                        <p class="news_time">2019-09-09</p>
                    </div>
                </div>
                <div class="news_item" id="showDiv6">
                    <div class="newsimg"><img class="newsimg" src="home_url/images/newsimg3.png" alt=""></div>
                    <div class="newsmsg_content">
                        <h3 class="msgcontent_title newstitle">共享充电宝难道只有中国有吗？</h3>
                        <p class="msgcontent_msg">
                            共享充电宝的出现给很多人带来了便利，从刚开始的王思聪微博公开质疑，到现在的火爆国内400多个城市，局势越来越明了。很多人目前还只以为，
                            只有我们国内有共享充电宝。其实不然，有“共享充电研发工厂”、“共享充电品牌工厂’之称的深圳市易佰特软件有限公司研发的共享充电产品。</p>
                        <p class="news_time">2019-09-09</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="Base:fot"/}
{/block}
{block name="script"}
<script>
    window.onload = function () {
        var boo = 0;
        var canUse = document.getElementsByTagName("body")[0].style;
        if (typeof canUse.animation != "undefined" || typeof canUse.WebkitAnimation != "undefined") {
            console.log(1)
            boo = 1;/*支持动画*/
        } else {
            console.log(2)
            boo = 0;/*不支持动画*/
        }
        actionIn("#index_advice_title", 'index_advice_title', 1.5, "");
        function actionIn(obj, actionName, time, speed) {
            $(obj).show();
            if (boo == 1) $(obj).css({ "animation": actionName + " " + time + "s" + " " + speed, "animation-fill-mode": "forwards" });
        }
    };
    function showDiv() {
        var showId = document.getElementById('showDiv');
        var clients = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        var divTop = showId.getBoundingClientRect().top;
        if (divTop <= clients) {

            showId.classList.add('action_scale');
        }
        var showId1 = document.getElementById('showDiv1');
        var clients1 = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        var divTop1 = showId1.getBoundingClientRect().top;
        if (divTop1 <= clients1) {

            showId1.classList.add('action_scale');
        }

        var showId2 = document.getElementById('showDiv2');
        var clients2 = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        var divTop2 = showId2.getBoundingClientRect().top;
        if (divTop2 <= clients2) {

            showId2.classList.add('action_scale');
        }
        var showId3 = document.getElementById('showDiv3');
        var clients3 = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        var divTop3 = showId3.getBoundingClientRect().top;
        if (divTop3 <= clients3) {

            showId3.classList.add('action_scale');
        }

        // var showId4 = document.getElementById('showDiv4');
        // var clients4 = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        // var divTop4 = showId1.getBoundingClientRect().top;
        // if (divTop4 <= clients4) {

        //     showId4.classList.add('action_scale');
        // }

        var showId5 = document.getElementById('showDiv5');
        var clients5 = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        var divTop5 = showId5.getBoundingClientRect().top;
        if (divTop5 <= clients5) {

            showId5.classList.add('action_scale');
        }
        var showId6 = document.getElementById('showDiv6');
        var clients6 = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        var divTop6 = showId6.getBoundingClientRect().top;
        if (divTop6 <= clients6) {

            showId6.classList.add('action_scale');
        }

    }
    window.onscroll = showDiv;
</script>
<style>
    @keyframes index_advice_title {
        0% {
            transform: translateY(100px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    @-webkit-keyframes action_scale {
        0% {
            transform: translateY(250px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .action_scale {
        animation-name: action_scale;
        -webkit-animation-name: action_scale;
        animation-duration: 2s;
        -webkit-animation-duration: 2s;
    }
</style>
{/block}




