<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{:getSetting('system.title')} </title>
    <link href="home_url/css/bootstrap.min.css" rel="stylesheet">
    <link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
    <link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="home_url/css/style.min.css" rel="stylesheet">
</head>
{include file="Base:base" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{empty name='cache'}添加{else/}修改{/empty}管理员信息</h5>
                </div>
                <div class="ibox-content">
                    <form enctype="multipart/form-data" method="post" id="add_step" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style='color:red;'>*</b>头像：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-9">
                                    <div class="info_head">
                                        <input type="file"
                                               class="file xuanze"
                                               name="upload_pic"
                                               style="position: absolute;z-index: 999;opacity: 0;width: 80px;height: 80px;cursor: pointer;"
                                               accept="image/jpg,image/jpeg,image/png"
                                               data-name="head_image"
                                               data-type="single" >
                                        <img  class='goods_logo' src="home_url/images/addimg.png" />
                                        <div class="xuanze_showimge mgr10" data-nums='15' style="position:relative;" >
                                            {notempty name='cache.head_image'}
                                            <div style='float:left;position:relative;'>
                                                <img src="{$cache['head_image']}" style="height:100px;width: 100px;" class="mgr10 mgt10 ">
                                                <input type="hidden" name="head_image" class="head_image" value="{$cache['head_image']}">
                                            </div>
                                            {/notempty}
                                        </div>
                                    </div>
                                    <div class="xuanze_progress fl mgr15" style="display:none">
                                        <img src="home_url/images/loadings.gif" style="width: 30px;height: 30px;" />
                                        <span class="xuanze_percent">80%</span>
                                    </div>
                                    <div style="clear: both;"></div>
                                    <span class="help-block m-b-none" style="color:red">宽：200 高：200</span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>管理员角色：</label>

                            <div class="col-sm-9">
                                <select name="manager_cate_id" style="width:190px;height:35px" class="manager_cate_id">
                                    <option value="">-请选择角色-</option>
                                    {foreach name="manager_cate" item="vo"}
                                    <option value="{$vo['id']}" {eq name="vo.id" value="$cache.manager_cate_id"}selected{/eq}>{$vo['manager_cate_name']}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
						{eq name="manager.manager_cate_id" value="1"}
 						<div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>工号：</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control work_no" name="work_no" style="width:32%" value="{$cache.work_no}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
						{else/}
						 <input type="hidden" name="work_no"  value="{$cache.work_no}">
						{/eq}

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>管理员姓名：</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control manager_name" name="manager_name" style="width:32%" value="{$cache.manager_name}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><b style="color:red;">*</b>手机号：</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control telephone" name="telephone" style="width:32%" value="{$cache.telephone}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码：</label>

                            <div class="col-sm-9">
                                <input type="password" class="form-control password" name="password" style="width:32%">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="id"  value="{$cache.id}">
                                <a href="javascript:history.back();" class="btn btn-white" type="submit">返回</a>
                                <a class="btn btn-primary save" href="javascript:void(0)" >保存</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="home_url/js/jquery.min.js"></script>
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>

<script>
   $('.save').click(function(){
       var post = {};
       post.id = $('input[name="id"]').val();
       post.head_image = $('.head_image').val();
       if (!post.head_image) {
           alert('请上传头像');
           return false;
       }

       post.manager_cate_id = $('.manager_cate_id').val();
       if (!post.manager_cate_id) {
           alert('请选择角色');
           return false;
       }

       post.manager_name = $('.manager_name').val();
       if (!post.manager_name) {
           alert('请填写管理员姓名');
           return false;
       }
	   post.work_no = $.trim($('.work_no').val());
       if (post.work_no == '') {
           alert('请填写工号');
           return false;
       }
       post.telephone = $('.telephone').val();
       if (!post.telephone) {
           alert('请填写手机号');
           return false;
       } else if (!post.telephone.match(/^[1][345789][0-9]{9}$/)) {
           alert('手机号格式不正确');
           return false;
       }

       post.password = $('.password').val();

       if (post.password) {
           if(!post.password.match(/^.{6,18}$/)){
               alert("密码长度必须是6-18位！");return false;
           }

           if(!post.password.match(/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/)){
               alert("密码必须是6-18位字母与数字混合！");return false;
           }
       }


       $.post("{:url('Manager/managerHandle')}",post, function(data){
           if(data.status){
               dialog.showTips(data.msg,"","{:url('Manager/managerList')}");
           }else{
               alert(data.msg);
           }
       }, "json");
       return false;
   });
</script>

<!--拖拽图片排序-->
<!--
<div class="xuanze_showimge fl  multi-img-details input-group multi-img-details ui-sortable dad-active dad-container"  id="J_imageView_1">
    <foreach name="cache.package_banner" item="v">
        <div class="goods_imgs">
            <img src="" height="80"  class="mgr10 mgt10 ">
            <input type="hidden" name="package_banner" class="package_banner"  value="">
            <em class="close" title="删除这张图片" onclick="delImgs(this)">×</em>
        </div>
</foreach>
</div>
<link rel="stylesheet" href="home_url/upload_img/uploadImg.css"/>
<link rel="stylesheet" href="home_url/upload_img/jquery.dad.css"/>
<script src="home_url/upload_img/jquery.dad.min.js"></script>
<script language="javascript">
    $('.J_imageView_1').dad({
        draggable: 'img'//拖拽区域
    });
</script>-->
<!--拖拽图片排序-->

<script type="text/javascript" src="home_url/js/jquery.js"></script>
<script type="text/javascript" src="home_url/js/jquery-form.js"></script>
<script type="text/javascript">


    $(function () {

        /*图片上传*/
        $(".xuanze").wrap("<form class='myupload' action='{:url('Index/addImage')}' method='post' enctype='multipart/form-data'></form>");
        $(".xuanze").change(function(){ //选择文件

            var obj = $(this);
            var type = obj.attr('data-type'); // single 单图 multiple 多图
            var xuanze_progress = obj.parents('.form-group').find('.xuanze_progress');
            var xuanze_percent = obj.parents('.form-group').find('.xuanze_percent');
            var xuanze_showimge = obj.parents('.form-group').find('.xuanze_showimge');
            var name = obj.attr('data-name');
            obj.parents('.myupload').ajaxSubmit({
                dataType:  'json', //数据格式为json
                beforeSend: function() { //开始上传
                    xuanze_progress.show(); //显示进度条
                    var percentVal = '0%';
                    xuanze_percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%'; //获得进度
                    xuanze_percent.html(percentVal); //显示上传进度百分比
                },
                success: function(data) { //成功
                    if (type == 'multiple') { //多图
                        var img = '<div class="goods_imgs">' +
                            '<img src="'+ data.info +'" height="80"  class="mgr10 mgt10 ">' +
                            '<input type="hidden" name="'+ name +'" class="'+ name +'"  value="'+ data.info +'">' +
                            '<em class="close" title="删除这张图片" onclick="delImgs(this)">×</em>' +
                            '</div>';

                        xuanze_showimge.append(img);

                        $('.J_imageView_1').dad({
                            draggable: 'img'//拖拽区域
                        });
                    } else { // 单图
                        var img = '<img src="'+ data.info +'" height="80">' +
                            '<input type="hidden" name="'+ name +'" class="'+name+'" value="'+ data.info +'">';
                        xuanze_showimge.html(img);
                    }

                    xuanze_progress.hide();
                },
                error:function(xhr){ //上传失败
                    console.log(xhr.status)
                }
            });
        });

    });

    function delImgs(obj){
        dialog.showTips("删除这张图片？","firm",function (){
            $(obj).next("input").remove();
            $(obj).remove();
        })
    }
</script>
</body>

</html>
