<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{:getSetting('system.title')}</title>
    <link href="home_url/css/bootstrap.min.css" rel="stylesheet">
    <link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
    <link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="home_url/css/style.min.css" rel="stylesheet">
    <style>
        ul.group-list {
            width: 96%;min-width: 1000px; margin: auto 5px;list-style: disc outside none;
        }
        ul.group-list li {
            white-space: nowrap;float: left;
            width: 150px; height: 25px;
            padding: 3px 5px;list-style-type: none;
            list-style-position: outside;border: 0px;
            margin-right: 10px;
        }
        th.title {
            background: #F3F3F3;border-bottom: 1px solid #D7D7D7;font-weight: bold; white-space: nowrap;
        }
    </style>
</head>
{include file="Base:base" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{empty name='detail'}添加{else/}修改{/empty}角色信息</h5>
                </div>
                <div class="ibox-content">
                    <form action="" id="roleform" method="post">
                        <input type="hidden" name="id" value="{$detail.id}" />
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>角色名称:</th>
                                <td><div class="col-xs-6"><input type="text" class="form-control" name="data[manager_cate_name]" id="manager_cate_name" value="{$detail.manager_cate_name}"></div></td>
                                <th >角色描述:</th>
                                <td><div class="col-xs-6"><input type="text" class="form-control" name="data[manager_cate_desc]" id="manager_cate_desc" value="{$detail.manager_cate_desc}"></div></td>
<!--                                <td><textarea rows="2" cols="50" name="data[manager_cate_desc]">{$detail.manager_cate_desc}</textarea></td>-->
                            </tr>
                        </table>
                        {neq name="detail.id" value="1"}
                        <h4><b>权限分配：</b><input type="checkbox" onclick="choosebox(this)">全选</h4>
                        {/neq}
                        <table class="table table-bordered table-striped dataTable">
                            {neq name="detail.id" value="1"}
                            <tbody>
                            {foreach name="modules" item="menu" key="kk"}
                                <tr>
                                    <td class="title left" style="padding-right:50px;">
                                        <b>{$group[$kk]['name']}：</b>
                                        <label class="right"><input type="checkbox" value="1" cka="mod-{$kk}">全选</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="group-list">
                                            {foreach name="menu" item="vv"}
                                                <li><label><input type="checkbox" name="right[]" value="{$vv.id}" {if condition="$vv.enable eq 1"}checked{/if} ck="mod-{$kk}">{$vv.name}</label></li>
                                            {/foreach}
                                            <div class="clear-both"></div>
                                        </ul>
                                    </td>
                                </tr>
                            {/foreach}
                            </tbody>
                            {/neq}
                            <tfoot>
                            <tr align="center">
                                <td><input class="btn btn-default" type="reset" value="重置">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="btn btn-primary save" type="button" value="提交">
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="home_url/js/jquery.min.js"></script>
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>

<script>
   $('.save').click(function(){
       var post = $('#roleform').serializeArray();

       $.post("{:url('Manager/managerCateHandle')}",post, function(data){
           if(data.status){
               dialog.showTips(data.msg,"","{:url('Manager/managerCateList')}");
           }else{
               alert(data.msg);
           }
       }, "json");
       return false;
   });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $(":checkbox[cka]").click(function(){
            var $cks = $(":checkbox[ck='"+$(this).attr("cka")+"']");
            if($(this).is(':checked')){
                $cks.each(function(){$(this).prop("checked",true);});
            }else{
                $cks.each(function(){$(this).removeAttr('checked');});
            }
        });
    });

    function choosebox(o){
        var vt = $(o).is(':checked');
        if(vt){
            $('input[type=checkbox]').prop('checked',vt);
        }else{
            $('input[type=checkbox]').removeAttr('checked');
        }
    }

   
</script>
</body>

</html>
