<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{:getSetting('system.title')} </title>

	<link href="home_url/css/bootstrap.min.css" rel="stylesheet">
	<link href="home_url/css/font-awesome.css-v=4.4.0.css" rel="stylesheet">
	<link href="home_url/css/plugins/iCheck/custom.css" rel="stylesheet">
	<link href="home_url/css/style.min.css" rel="stylesheet">

</head>

{include file="Base:base" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="tabs-container">

					<div class="tab-content">
						<div id="tab-1" class="tab-pane active">
							<div class="panel-body">
								<h3 style="color:red">此模块为开发人员操作</h3>
								<div class="ibox-content-del">
									<div class="row">
										<!-- <form method="get" action="{:url('Manage/admin/status')}"> -->
										<form method="get" action="{:url('Manager/rightList')}">
											<div class="col-sm-1">
												<div class="input-group">
													<select name='is_group' class='form-control input-sm' style="font-size:12px">
														<option value='0'>分组</option>
														{foreach name="group" item="vo" key="k"}
														<option value='{$k}' {eq name='k' value='$is_group'}selected{/eq}>{$vo.name}</option>
														{/foreach}
													</select>
												</div>
											</div>
											<div class="col-sm-3">
												<div class="input-group">
													<input type="text" name="name" placeholder="请输入名称" class="input-sm form-control" value="">
													<span class="input-group-btn">
			                                        <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
												</div>
											</div>
										</form>
										<a href="{:url('Manager/editRight')}" class="btn btn-sm btn-primary">添加</a>
									</div>
									<div class="table-responsive">

										<table class="table table-hover products_table">
											<colgroup>
												<col width="10%">
												<col width="15%">
												<col width="15%">
												<col width="15%">
												<col width="15%">
												<col width="15%">
											</colgroup>
											<thead>

											<tr >
												<th></th>
												<th>ID</th>
												<th>名称</th>
												<th>所属分组</th>
												<th>权限码</th>
												<th>操作</th>
											</tr>
											</thead>
											<tbody>
											{foreach name="right_list" item="vo"}
											<tr >
												<td>
													<input type="checkbox" class="i-checks checkbox" name="input" value="{$vo.id}">
												</td>
												<td>{$vo.id}</td>
												<td>{$vo.name}</td>
												<td>{$group[$vo['group']]['name']}</td>
												<td><div style="width: 300px;white-space:normal; word-break:break-all;">{$vo.right}</div></td>
												<td>
													<a href="{:url('Manager/editRight', ['id' => $vo['id']])}" class="btn btn-xs btn-warning">修改</a>
													<a href="javascript:void(0);" class="btn btn-xs btn-warning btn_del" data-id="{$vo.id}">删除</a>
												</td>
											</tr>
											{/foreach}
											{empty name="right_list"}
											<tr><td style='text-align:center' colspan='6'>暂无数据</td></tr>
											{/empty}
											<tr>
												<td colspan="12" class="pro_lasttd">
													<label ><input type="checkbox" class="i-checks all"  name="inputs"><span>全选</span></label>

													<div class="pro_table_contro">
														<a href="javascript:void(0);" class="btn btn-xs btn-warning btn_del" data-id="">删除</a>
													</div>

												</td>
											</tr>

											</tbody>
										</table>

										<div class="text-center">
											<div class="page">
												{$right_list->render()}
											</div>
										</div>

									</div>

								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="home_url/js/jquery.min.js"></script>
<script src="home_url/js/bootstrap.min.js"></script>
<script src="home_url/js/plugins/peity/jquery.peity.min.js"></script>
<script src="home_url/js/content.min.js"></script>
<script src="home_url/js/plugins/iCheck/icheck.min.js"></script>
<script src="home_url/js/peity-demo.min.js"></script>
<script type="text/javascript">


	$('td.pro_lasttd input').on('ifChecked', function(event){
		$('input').iCheck('check');
	});
	$('td.pro_lasttd input').on('ifUnchecked', function(event){
		$('input').iCheck('uncheck');
	});

	$('.btn_del').click(function () {
		var id = $(this).attr('data-id');
		if(!id){
			$(".checkbox").each(function(){
				if(true == $(this).is(':checked')){
					id += id?"-"+$(this).val():$(this).val();
				}
			});

			if(!id){
				alert('请选择要删除的数据');
				return false;
			}
		}
		dialog.showTips('确定要删除吗？', "firm", function(){

			$.ajax({
				url: "{:url('Manager/rightDel')}",
				type: "post",
				dataType: "json",
				data: {
					id: id,
				}
			}).done(function (res) {
				if (res.status == 1) {
					dialog.showTips(res.msg,"","{:url('Manager/rightList')}");
				} else {
					alert(res.msg);
				}

			})
		})
	});

	function btn_upd_Manage(Manage_id,type){
		alert(type);
		dialog.showTips('确定要修改状态吗？', "firm",function(){
			$.ajax({
				url: "{:url('Manager/upManage')}",
				type: "post",
				dataType: "json",
				data: {
					type: type,
					id: Manage_id,
				}
			}).done(function (res) {
				alert(res.info);
				if(res.status==1){
					window.location.reload();
				}
			})
		})
	}


</script>




<script>
	$(document).ready(function () {
		$(".admin_li_b1").click(function(){
			var edit=$(this).parent(".admin_li_btn").siblings(".admin_li_edit");
			$(".admin_li_edit").not(edit).hide();
			edit.toggle();
		})

		function stopPropagation(e) {
			if (e.stopPropagation)
				e.stopPropagation();
			else
				e.cancelBubble = true;
		}
		$(document).bind('click',function(){
			$(".admin_li_edit").hide();
		});

		$(".admin_li_edit").bind('click',function(e){
			stopPropagation(e);
		});
		$(".admin_li_b1").bind('click',function(e){
			stopPropagation(e);
		});


		$("li.admin_li").click(function(){
			$(this).addClass("active").siblings("li.admin_li").removeClass("active");
		})

		$(".admin_tree_top a.pull-right").click(function(){
			$(".admin-add-box").toggle();
		})
		$(".admin-add-box .btn-default").click(function(){
			$(".admin-add-box").hide();
		})








		$(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
	});
</script>
<script type="text/javascript">
	$("li").click(function(){
		$a=$(this).find("a").attr("href");
		// alert($a);
		if ($a) { window.location=$a; }
	})
</script>
</body>
</html>